*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib64
__pycache__

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Sphinx documentation
docs/build/

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

.idea/
*.pyc
*.egg-info/
*env/
.tox/
dist/
.DS_Store

scratch/
CHANGELOG_DRAFT